.formdi {
    align-items: left;
    text-align: left;
    padding: 20px;
    /* position: fixed; */
    width: 100%;
}
label {
    margin-left: 0px;
}
.formh3 {
    font-size: 21px;
    font-weight: 500;
    font-family: "Rubik";
    text-align: center;
}