.slogo {
    margin-top: 10px;
    width: 150px;
}
.stlogo {
    /* margin-top: 20px; */
}
nav {
    display: none;
    /* margin-top: 150px; */
}
#navmenu {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* border: 1px solid red; */
    align-items: flex-end;
    gap: 10px;
    padding-top: 0px;
}

@media only screen and (min-width: 0px) and (max-width:855px){
    nav {
        display: block;
    }
}

