.carousel-control-prev-icon {
    /* position: absolute; */
    background-image: url ("https://cdn-icons-png.flaticon.com/512/180/180000.png");
}
.w-100 {
    width: 80px;
    /* height: 50%; */
}
.carousel-control-next-icon {
    position: absolute;
}

.d-block{
    height: 600px;
    width: 100%;
}
.ms-1 {
    z-index: -2;
}
.head {
    border: 1px solid red;
    margin-bottom: 80px;
    margin-left: -60px;
    font-size: 50px;
    color: black;
    background-color: gray;
}